<header>
  <div
    class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
  >
    <a
      class="d-flex align-items-center text-dark text-decoration-none"
      hx-get="/home"
      hx-target=".page"
      hx-swap="innerHTML"
    >
      <img
        src="/assets/logo.png"
        alt="piatoss on the block"
        width="32"
        height="32"
        class="me-2"
      />
      <span class="fs-4">piatoss on the block</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a
        class="me-4 py-2 text-dark text-decoration-none"
        hx-get="/about"
        hx-target=".page"
        hx-swap="innerHTML"
        >About</a
      >
      <a
        class="me-4 py-2 text-dark text-decoration-none"
        hx-get="/project"
        hx-target=".page"
        hx-swap="innerHTML"
        >Project</a
      >
      <a
        class="me-4 py-2 text-dark text-decoration-none"
        hx-get="/study"
        hx-target=".page"
        hx-swap="innerHTML"
        >Study</a
      >
      <a
        class="py-2 text-dark text-decoration-none"
        hx-get="/guest"
        hx-target=".page"
        hx-swap="innerHTML"
        >Guest</a
      >
    </nav>
  </div>
</header>
