<header>
  <div
    class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
    hx-target=".page"
    hx-on:htmx-after-on-load="
      let currentTab = document.querySelector('[aria-selected=true]');
      if (currentTab) {
        currentTab.setAttribute('aria-selected', 'false');
        currentTab.classList.remove('active');
      }
      let newTab = event.target;
      newTab.setAttribute('aria-selected', 'true');
      newTab.classList.add('active');
    "
  >
    <a
      class="d-flex align-items-center text-dark text-decoration-none"
      hx-get="/home"
    >
      <img
        src="/assets/logo.png"
        alt="piatoss on the block"
        width="32"
        height="32"
        class="me-2"
      />
      <span class="fs-4">piatoss on the block</span>
    </a>

    <nav
      id="navbar"
      role="navigation"
      class="d-inline-flex mt-2 mt-md-0 ms-md-auto"
    >
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span
            class="nav-link"
            aria-controls="page"
            aria-selected="false"
            hx-get="/about"
            >About</span
          >
        </li>
        <li class="nav-item">
          <span
            class="nav-link"
            aria-controls="page"
            aria-selected="false"
            hx-get="/project"
            >Project</span
          >
        </li>
        <li class="nav-item">
          <span
            class="nav-link"
            aria-controls="page"
            aria-selected="false"
            hx-get="/study"
            >Study</span
          >
        </li>
        <li class="nav-item">
          <span
            class="nav-link disabled"
            aria-controls="page"
            aria-selected="false"
            hx-get="/guest"
            >Guest</span
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
